body{
  background-color: #BD2445; 
  color: white; 
  font-family: Arial, Helvetica, sans-serif;
}

.row > *{
  color: #BD2445;
}

.mp-btn{
  color: #BD2445;
}

.mp-select{
  border: 1px solid rgb(224, 227, 230);
  padding: 5px;
  width: 177px;
  height: 34px;
}

.mp-btn:hover, .mp-input:focus, .mp-select:focus{
  background-color: #BD2445;
  color: white;
}

.border-grey{
  border: 1px solid grey;
}

.container-sizes{
  height: 163px;
  width: 650px;
}






































